body {
  font-size: 63.5%;
}

.container {
  width: 97vw;
  margin: auto;
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #264653;
}

.container-col {
  width: 50%;
  margin: auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
}

.back-btn-container {
  font-size: 2.5rem;
  color: white;
}

.nav-btn {
  border: none;
  background-color: #264653;
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
}

.page-title {
  font-size: 3rem;
}

.page-text {
  font-size: 1.5rem;
  margin: 0;
}

.options-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
}

.option-button {
  font-size: 2rem;
  text-align: center;
  height: 10rem;
  width: 16rem;
  padding: 3rem;
  margin: 1.5rem 0;
  border-radius: 25px;
  background-color: #2A9D8F;
  color: white;
}